@charset "UTF-8";

/* paleta de cores 
#707068
#846B57
#1F1D1E
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

body, html {
    background-color: #846B57;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #846B57 url(../imagens/pexels-bade-saba-13945391.jpg) left bottom no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5a493b;
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
    
}

div.campo > label {
    display: none;
}

form > div > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #846B57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div > input[type=submit]:hover {
    background-color: #5a493b;
}

div > a.botao {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40%;
    background-color: white;
    color: #5a493b;
    border: 1px solid #5a493b;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

div > a.botao:hover {
    background-color: #c29f82;
}

div > a.botao > span {
    font-size: 0.8em;
}